<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.simple.system.mapper.UserMapper">

    <resultMap id="userMap" type="org.simple.system.dto.user.UserEntityDto">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nick_Name" property="nickName"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="status" property="status"/>
        <result column="avatar" property="avatar"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="login_date" property="loginDate"/>
        <result column="tenant" property="tenant"/>
        <result column="error_count" property="errorCount"/>
        <result column="tenantName" property="tenantName"/>
        <result column="roles" property="roles"/>
        <result column="roleIds" property="roleIds"/>
    </resultMap>

    <select id="listAll" resultMap="userMap">
        select t.*,
        (select GROUP_CONCAT(t1.name)
        from center_tenant t1
        where FIND_IN_SET(t1.id, (select GROUP_CONCAT(t2.tenant)
        from center_usertenant t2
        where t2.user = t.id)))
        as tenantName,
        (select GROUP_CONCAT(t3.name)
        from center_role t3
        where FIND_IN_SET(t3.id,
        (select GROUP_CONCAT(t4.role) from
        center_roleuser t4 where t4.user = t.id))) as roles,
        (select GROUP_CONCAT(t5.role) from
        center_roleuser t5 where t5.user = t.id) as roleIds
        from center_user t
        where 1=1
        <if test="user.tenant != null and user.tenant != ''">
            and t.tenant = #{user.tenant}
        </if>
        <if test="user.nickName != null and user.nickName != ''">
            and t.nick_name like CONCAT('%',#{user.nickName},'%')
        </if>
        <if test="user.status != null and user.status != ''">
            and t.status = #{user.status}
        </if>
        order by t.create_time desc
    </select>

</mapper>
