<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.simple.system.mapper.LogsMapper">

    <resultMap id="LogsMap" type="org.simple.system.entity.LogsEntity">
        <id column="id" property="id"/>
        <result column="service_name" property="serviceName"/>
        <result column="resource" property="resource"/>
        <result column="ip" property="ip"/>
        <result column="path" property="path"/>
        <result column="useragent" property="useragent"/>
        <result column="username" property="username"/>
        <result column="create_time" property="createTime"/>
        <result column="params" property="params"/>
        <result column="time" property="time"/>
        <result column="status" property="status"/>
        <result column="error" property="error"/>
        <result column="nick_name" property="nickName"/>
    </resultMap>

    <select id="logsList" resultMap="LogsMap">
        select
        t1.nick_name,
        t1.username as username,
        t.service_name,
        t.resource,
        t.ip,
        t.path,
        t.useragent,
        t.create_time,
        t.params,
        t.time,
        t.status,
        t.error
        from center_logs t join center_user t1 on t.username = t1.id
        where 1=1
        <if test="obj.path != null and obj.path != ''">
            and t.path like CONCAT('%',#{obj.path},'%')
        </if>
        <if test="obj.username != null and obj.username != ''">
            and LOWER(t1.username) like CONCAT('%',LOWER(#{obj.username}),'%')
        </if>
        <if test="obj.nickName != null and obj.nickName != ''">
            and t1.nick_name like CONCAT('%',#{obj.nickName},'%')
        </if>
        <if test="obj.status != null and obj.status != ''">
            and t.status = #{obj.status}
        </if>
        order by t.create_time desc
    </select>
</mapper>
